.navbar-custom {
    display: flex;
    background-image: url(../files/logos/global-nav-bg.png);
    background-size: 2px;
    padding: 0px;
    margin: 0px;
    height: max-content;
    width: 100%;

    .navbar-brand{
        width: 110px;
    }

    .nav-link {
        color: #b5b5b5;
        cursor: pointer;
        padding: 13px;
        letter-spacing: 2px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 15px;
        position: relative;
        display: inline-block;

        img {
            margin-left: 10px;
            transition: all .5s;
        }

    }

    .l {

        a {
            font-size: 13px;
            word-spacing: normal;
            transition: all 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a:hover {
            filter: brightness(2);
        }
    }

    .dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #222;
        // min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 250px;


        li {
            width: fit-content;
            position: relative;
            color: #848484;
            padding-top: 15px;
            padding-bottom: 15px;
            text-decoration: none;
            display: block;
            transition: all .3s;

        }

        li::before {
            content: '';
            position: absolute;
            top: 19px;
            left: 0px;
            width: 15px;
            height: 10px;
            border: 2px solid rgba(255, 255, 255, 0.452);
            border-width: 0px 0px 0px 2px;
            transition: all 0.3s;
            opacity: 0;
        }

        li:hover::before {
            opacity: 1;
            top: 19px;
            left: -15px;
        }

        li::after {
            content: '';
            position: absolute;
            bottom: 19px;
            right: 0px;

            width: 15px;
            height: 10px;
            border: 2px solid rgba(255, 255, 255, 0.452);
            border-width: 0px 2px 0px 0px;
            transition: all 0.3s;
            opacity: 0;
        }

        li:hover::after {
            opacity: 1;
            bottom: 19px;
            right: -15px;
        }
    }

    .nav-link:hover {
        color: #ebebeb;

        background-color: #222;

        .dropdown {
            display: block;
        }

        .dropdown li:hover {
            filter: brightness(1.7);
            // background-color: black;
        }

        img {
            rotate: -180deg;

        }
    }


}