.nav1 {
    position: sticky;
    top: -5px;
    display: flex;
    background-image: url(../files/logos/global-nav-bg.png);
    background-size: 2px;
    padding: 3px;
    margin: 0px;
    height: max-content;
    width: 100%;

    .nav-link {
        cursor: pointer;
        padding: 13px;
        letter-spacing: 2px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;

    }
    .dropdown-menu{
        background-color: #222222;
        border: none;
        border-radius: 0;
        padding-left: 15px;
        padding-right: 30px;
        font-size: 15px;
    }

    .dropdown {
        li {
            width: fit-content;
            position: relative;
            color: #848484;
            padding-top: 15px;
            padding-bottom: 15px;
            text-decoration: none;
            transition: all .3s;

        }

        li::before {
            content: '';
            position: absolute;
            top: 25px;
            left: 0px;
            width: 15px;
            height: 10px;
            border: 2px solid rgba(255, 255, 255, 0.452);
            border-width: 0px 0px 0px 2px;
            transition: all 0.3s;
            opacity: 0;
        }

        li:hover::before {
            opacity: 1;
            top: 25px;
            left: -10px;
        }
    
        li::after {
            content: '';
            position: absolute;
            bottom: 23px;
            right: 0px;

            width: 15px;
            height: 10px;
            border: 2px solid rgba(255, 255, 255, 0.452);
            border-width: 0px 2px 0px 0px;
            transition: all 0.3s;
            opacity: 0;
        }

        li:hover::after {
            opacity: 1;
            bottom: 23px;
            right: -10px;
        }
    }

    .nav-link:hover {
        color: #89af67;
        
        
        .dropdown li:hover {
            filter: brightness(1.7);
        }
        
    }

    .dropdown-item{
        transition: all 500ms;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
    }


}

.dropdown-item:hover{
    background-color: transparent;
    filter: brightness(1.7);
}


.bnav-link{
    text-transform: uppercase;
    font-size: 13px;
    color: #a6a6a6;
    transition: all 500ms;
}

.sideb:hover{
    filter: brightness(1.7);
}