* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    color: #a6a6a6;
    text-decoration: none;
    letter-spacing: 2px;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

@import "top-navbar";
@import "bottom-navbar";
@import "video";
@import "game-modes";
@import "maps";